@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #2d2d2d;
  --background-gradient: linear-gradient(to bottom right, #ffffff, #f5f7fa);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e9ebf0;
    --foreground: #ffffff;
  }
}

body {
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

/* Add this new utility class */
.page-with-navbar {
  padding-top: 5rem; /* 80px */
}
